.welcome-box {
    background-color: #efdecd;
    border-radius: 20px;
    margin: 2em auto;
    padding: 20px;
    width: 90%;
    text-align: center;
}
.container {
    margin: 2em auto;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: black;
    font-size: 2em;
    font-weight: 700; 
    width: 100%;
    padding: .5em;
    background-color:rgb(198, 228, 218);
    border-top: 1px solid white;
    border-bottom: 1px solid rgb(137, 46, 3);
    margin-top: 2em;
    text-align: center;
    display: block;
}

form {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 0.5em;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 1em;
    box-sizing: border-box;
    font-size: 1em;
}
input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}
.submit-btn {
    text-align: center;
}
.submit-btn button {
    padding: 0.5em 2em;
    background-color: rgb(141, 226, 197);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.submit-btn button:hover {
    background-color: #45a049;
}

.field-inline-block {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;  
    
    label {
      text-align: center;
    }
}