<!-- <p> будет контакты и там наши номера </p>

<p> будут соц сети и там наши акки </p>

<p> почта </p>

<p> города с адресами </p> -->

  
<!-- <div class="footer">
  <a class="foa" href="#">SignUp     LogIn       Messenger       Facebook        Lite        Video       Places      Games       Marketplace         Meta PayMeta StoreMeta QuestImagine with Meta AIInstagram Threads Fundraisers Services Voting Information-Center Privacy-Policy CenterGroups AboutCreate adCreate Page Developers Careers CookiesAd choices Terms Help Contact Uploading&Non-Users Settings Activity log
  </a>
</div>
 -->






