<header>
    <a id="main" routerLink="/home" routerLinkActive="active" class="logo">DreamCast</a>

    <nav>
        <ul>
            <!-- <li><a routerLink="/form" routerLinkActive="active">Form</a></li> -->
            <li><a>Casting &triangledown;</a>
                <ul>
                    <li><a routerLink="casting" routerLinkActive="active">All</a></li>
                    <li><a routerLink="casting/modeling" routerLinkActive="active">Modeling</a></li>
                    <li><a routerLink="casting/filming" routerLinkActive="active">Filming</a></li>
                    <li><a routerLink="casting/dance" routerLinkActive="active">Dance</a></li>
                </ul>
            </li>

            <li><a routerLink="/ads" routerLinkActive="active">Ads</a></li>
            <li><a routerLink="/aboutUs" routerLinkActive="active" ariaCurrentWhenActive="page">About us</a></li>
            <li><a routerLink="/login" routerLinkActive="active">Log in</a></li>
            <li><a routerLink="/logout" routerLinkActive="active">Log out</a></li>
            <li><a routerLink="/signup" routerLinkActive="active">Sign up</a></li>
            <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
        </ul>
    </nav>
</header>

