<div class="featured">
    <div class="profile">
        <img src="assets/man.png" alt="Man Photo">
    </div>
    <div class="text-block">
        <h2>Where Talent Meets Opportunity!</h2>
        <p>Join our casting platform to find exciting opportunities tailored to your skills and aspirations. <br> Start your journey today!</p>
        <a routerLink="/casting" class="btn">Browse Castings</a>
    </div>
    <div class="profile">
        <img src="assets/woman-art.png" alt="Woman Photo">
    </div>
</div>
